::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--secondary-dark);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--secondary-light);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-text);
}

:root{
    --primary-text: #ffffff;
    --primary-orange: #F64B29;
    --secondary-text: #FFD6AE;
    --secondary-dark: #1B212C;
    --secondary-light: #3C4657;
}
body{
    background: var(--secondary-dark);
}
/* navbar */
.custom{
    background-color: var(--secondary-light) !important;
}
.random{
    margin-right: 150px;
}

.navbar-brand{
    margin-left: 150px;
}

.nav-item:hover{
    color: var(--secondary-text);
}

.custom{
    background: #d9d9d9;
}

.navbar{
    padding: 0px;
}

.intro{
    margin-top: 50px;
    display: flex;
}

.home-image{
    margin-left: 75px;
    margin-top: 50px;
}

.home-text{
    margin-top: 150px;
    margin-right: 75px;
}

.social-media-icon{
    border-radius: 100px;
    margin: 5px;
    color: #284b63;
    background-color: #d9d9d9;
}

.blink{
    animation:blinkingText 0.75s infinite;
}

@keyframes blinkingText {
    0%{ color: #000;}
    49%{ color: #000;}
    60%{ color: transparent;}
    99%{ color: transparent;}
    100%{ color: #000;}
}


.arrow{
    text-align: center;
    margin-top: 50px;
}

.hr-text{
    content: attr(data-content);
    position: relative;
}

.bounce{
    animation: bounce 0.75s infinite;
}

@keyframes bounce {
    0% {transform: translateY(0px);}
    30% {transform: translateY(0px);}
    50% {transform: translateY(-25px);}
    100% {transform: translateY(0px);}
}

.abt-skill-btn{
    text-align: center!important;
    margin-top: 150px;
    margin-bottom: 50px;
}

.button-group{
    border-radius: 0px;
}

.all-heading{
    padding-top: 40px;
    margin-top: 20px;
    margin-bottom: 35px;
}

.about-me-text{
    margin-top: 150px;
}

.text-center{
    text-align: center;
}

footer{
    background-color: #353535;
}

.text-footer{
    color: #ffffff;
}

hr{ 
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    padding: 0;
}

.btn-all{
    color: #284b63;
    border-color: #284b63;
    background-color: #d9d9d9;
}

.btn-all:hover{
    background-color: var(--secondary-text);
    border-color: var(--secondary-text);
    color: var(--secondary-dark);
}

.btn-all:active{
    background-color: var(--secondary-dark);
    border-color: var(--secondary-dark);
    color: #ffffff;
}

.text-styles{
    color: var(--primary-text);
}

.co-curricular{
    padding-right: 30px;
    text-align: center;
    list-style: none;
    padding-top: 12px;
    padding-bottom: 5px;
}

footer{
    background-color: var(--secondary-light);
}

.foot{
    display:unset;
    align-items: center;
}
.foot-connect-btn{
    text-align: center;
}
.foot-connect{
    display: none;
}

.card {
    box-shadow: 0 4px 8px 0 var(--secondary-light);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    
    position: relative;
    width: 250px;
    height: 250px;
    top: calc(50% - 175px);
    left: calc(50% - 125px);
    background: inherit;
    border-radius: 2px;
    overflow: hidden;
   }
  .card:after{
    width: 300px;
    height: 300px;
    background: inherit; 
    position: absolute;
    left: -25px;
    right: 0;
    top: -25px;  
    bottom: 0;
    box-shadow: inset 0 0 0 200px rgba(255,255,255,0.05);
    filter: blur(10px);
   }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

@media (max-width: 480px) {
    .navbar-brand{
        margin-left: 10px;
    }
    .nav-link{
        margin-left: 10px;
    }
    .navbar-toggler{
        border: none;
    }
    .intro{
        margin: 0px;
        display: unset;
    }
    .home-image{
        padding: 0px;
        margin: 0px;
        max-width: 100vw;
    }
    .about-me{
        padding: 0px;
        display: unset;
    }
    .about-me-text{
        margin: 0px;
    }
    /* .row{
        margin-top: 0px;
        max-height: 100vh;
    } */
    .home-text{
        margin: 0px;
    }
    .projects{
        display: unset;
    }
}